grpcio==1.51.3
grpcio-tools==1.51.3
gym==0.26.2
torch==2.0.0
black==23.1.0
torchscale>=0.2.0
wandb
transformers
readerwriterlock
opencv-python
tensorboardX
shutup
torchvision
einops>=0.7.0
dm-tree==0.1.8
ml_collections==0.1.1
matplotlib
